@font-face {
  font-family: "Manrope";
  font-weight: 100;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Manrope"),
    url("../assets/font/webfonts/Manrope-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-weight: 300;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Manrope"),
    url("../assets/font/webfonts/Manrope-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-weight: 400;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Manrope"),
    url("../assets/font/webfonts/Manrope-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-weight: 500;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Manrope"),
    url("../assets/font/webfonts/Manrope-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-weight: 600;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Manrope"),
    url("../assets/font/webfonts/Manrope-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-weight: 700;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Manrope"),
    url("../assets/font/webfonts/Manrope-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-weight: 900;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Manrope"),
    url("../assets/font/webfonts/Manrope-ExtraBold.woff2") format("woff2");
}