$blue: #8099e9;
$blue-1: #5b6da6;
$blue-2: #cdd8fc;
$blue-3: #f4f7ff;

$pink: #e99dcb;
$pink-1: #b86b9a;
$pink-2: #f3cfe5;

$dark-blue: #171430;
$dark-blue-1: #3b337b;
$dark-blue-2: #9d97cc;
$danger: #959595;

$white: #fff;
$purple: #5f4fe3;
$black: #000;
$accent: #fecc00;
